body {
  margin: 0;
  padding: 0;
}

div, h1, h2, p, img, header, main, footer {
  border: 1px solid red;
}

.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header { /* ниже установлены ограничения для секции */
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: flex;
  background-color: #f2f2f2;
  position: relative;
}

.logo { 
  width: 183px;
}

.logo_place_header { 
  height: 32px;
  top: 30px;
  left: 64px;
  background-size: cover;
  position: absolute;
  z-index: 4;
}

/* Большой вопрос пригодится ли это всё

.useful-info_font-size_xxxl {
  font-size: 120px;
}

.useful-info_font-size_xxl {
  font-size: 102px;
}

.useful-info_font-size_xl {
  font-size: 60px;
}

.useful-info_font-size_l {
  font-size: 36px;
}

.useful-info_font-size_m {
  font-size: 24px;
}

.useful-info_font-size_s {
  font-size: 18px;
}

.useful-info_line-height_xxxxl {
  line-height: 1.2;
}

.useful-info_line-height_xxxl {
  line-height: 1.15;
}

.useful-info_line-height_xxl {
  line-height: 96px;
}

.useful-info_line-height_xl {
  line-height: 51px;
}

.useful-info_line-height_l {
  line-height: 34px;
}

.useful-info_line-height_m {
  line-height: 30px;
}

.useful-info_line-height_s {
  line-height: 25px;
}*/

.title {
  display: flex;  
  width: 730px;
  line-height: 96px;
  font-size: 102px;
  align-self: center;
  margin-left: 64px;
  z-index: 3;
}

.subtitle {
  bottom: 30px;
  left: 64px;
  width: 388px;
  line-height: 25px;
  font-size: 18px;
  position: absolute;
  z-index: 2;
}

.subtitle__link {
  text-decoration: none;
}

.header__main-illustration {
  width: 765px;
  height: 608px;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 1;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
  top: 30px;
  right: 0px;
  background-color: #2f80ed;
  position: absolute;
  z-index: 0;
}

.description {
  display: flex;
  justify-content: center;
  width: 80%;
  margin-top: 100px;
  margin-bottom: 100px;
}

.two-columns {

}

.flex-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.footer {
  min-height: 350px;
  max-height: 756px;
  display: flex;
  background-color: #000000;
  position: relative;
}

.footer_columns {
  flex-direction: row
}

.footer_columns_copyright {
  width: 90%;
}
  

.logo_place_footer {
  height: 35px;
  position: absolute;
  align-items: flex-start;
}

.author {
  line-height: 25px;
  font-size: 18px;
  color:white
}
